DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE


# DATABASE_URI=postgres://postgres:<password>@127.0.0.1:5432/jobsite-backend
# PAYLOAD_SECRET=2321ad3463317f2e0b875474
# Added by Payload